body {
    background-color: lightgray;
}

body div.mycalc {
	text-align: center;
	width: 214px;
	margin: 0 auto;
}

div input[type='button'], button {
	width: 50px;
	height: 50px;
    margin: 2px 0;
    background-color: white;
    border: none;
}

div input[type="text"] {
	height: 50px;
	width: 100%;
	background-color: white;
	color: black;
	padding: 12px 20px;
    margin-top: 100px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #777;
}

div.results input, div.results button {
	height: 50px;
    width: 104px;
    color: crimson;
}


#plus, #minus, #by, #devide, #percent {
    color: crimson;
	font-size: 16px;
}